// 颜色定义规范
$color-background = #fff
// $color-background = #F1F3F5
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #189ACA
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #555
$color-text-dd4e25 = #dd4e25
$color-text-999 = #999
$color-text-b8bcc4 = #b8bcc4
$color-text-0099da = #0099da
$color-text-e39213 = #e39213
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(0, 0, 0, 0.5)
$color-text-ll = rgba(0, 0, 0, 0.8)

//字体定义规范
$font-size-small-s = 0.24rem
$font-size-small = 0.26rem
$font-size-medium = 0.28rem
$font-size-medium-x = 0.3rem
$font-size-large-s = 0.34rem
$font-size-large = 0.36rem
$font-size-large-x = 0.4rem
$font-size-32 = 0.32rem

//icon 定义

icomoon-font-path ?= "../fonts"
icon-delete = "\e900"
icon-back = "\e901"
icon-camera = "\e902"
icon-close = "\e903"
icon-discount = "\e904"
icon-down = "\25BC"
icon-edit = "\e906"
icon-enter = "\e907"
icon-error = "\e908"
icon-insurance-history = "\e909"
icon-pic = "\e90a"
icon-prompt = "\e90b"
icon-question = "\e90c"
icon-record = "\e90d"
icon-scan = "\e90e"
icon-search = "\e90f"
icon-success = "\e910"
icon-time = "\e911"
icon-tip = "\e912"

//按钮渐变色公共样式linear-gradient(-90deg, #5293F9 15%, #3C6AE7 89%)
$btn_bg_linear = linear-gradient(90deg, #5293F9 15%, #3C6AE7 89%)
